.App {
  width: 900px;
  margin: 0 auto;
  margin-top: 150px;
  box-shadow: 2px 6px 5px -2px rgba(0,0,0,0.56);
  overflow: hidden;
}

header {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
 
  background-color: rgb(5, 114, 204);
  box-shadow: 2px 6px 5px -2px rgba(0,0,0,0);
  padding: 20px;
}

.well-done {
  background-color: rgb(119, 230, 15);
}

header >* {
  display: inline-block;
  vertical-align: middle;
}
header .app-title {
  margin-right: 50px;
}
table {
  font-size: 24px;
  color: white;
  width: 250px;
}


.todo-item {
  padding: 20px;
  border-bottom: 2px solid black; 
}

.todo-item > * {
  display: inline-block;
  vertical-align: middle;
}
button{ 
  background-color: white;
  outline: none;
  border: none;
  border-radius: 70px;
}
.todo-item-title {
  font-size: 36px;
  width: 700px;
}

i.material-icons.checkbox {
  font-size: 48px;
}
.completed >* {
  color: #d8d4d4;
  text-decoration: line-through;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
i.material-icons.delete {
  font-size: 48px;
  opacity: 0;
  -moz-transition: all 0.5s ease-in-out; 
  transition: all 0.5s ease-in-out;
  
}
.todo-item:hover .delete {
  opacity: 1;
}
i.material-icons.edit {
  
  opacity: 0;
  -moz-transition: all 0.5s ease-in-out; 
  transition: all 0.5s ease-in-out;
}
.todo-item:hover .edit {
  opacity: 1;
}

button:hover {
  background-color: rgb(233, 233, 233);
}
form {
  background-color: rgb(240, 240, 240);
  padding: 20px;
}
input {
  width: 680px;
  height: 50px;
  padding: 5px;
  font-size: 26px;
  margin-right: 10px;
}
form button{
  padding: 5px;
  border-radius: 5px;
}

form .add {
 font-size: 30px;
}

.stop-watch {
  color: white;
  width: 165px;
  line-height: 40px;
}
.stop-watch > button {
  border-radius: 0px;
  margin-right: 5px;
}



/* Animations */
.slide-enter {
  transform: translateX(-100%)
}

.slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: transform .5s;
}

.slide-leave {
  opacity: 1;
}
.slide-leave.slide-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  
}